@(items: org.ardverk.gibson.dashboard.SearchItems)
@main() {
<div class="container">
  @if(items.isEmpty()) {
    <div class="alert alert-info">No results found for @items.query</div>
  } else {
    <div class="alert alert-info">@items.count results in @items.size() categories found for @items.query</div>
    
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Type</th>
      </thead>
      <tbody>
        @for(element <- items.elements) {
          <tr>
            <td rowspan="2">@element.count</td>
            <td><a href="@routes.Event.show(element.typeName, element.signature)">@element.typeName</a></td>
          </tr>
          <tr>
            <td>
              @for(keyword <- element.keywords) {
                <span class="label label-success">@keyword</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div> <!-- /container -->
}
