@(item: org.ardverk.gibson.dashboard.EventItem, count: Long = 1)

@main() {
<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <table class="table table-bordered">
    <thead>
      <th>Name</th>
      <th>Value</th>
    </thead>
    <tbody>
      <tr>
        <td>Time</td>
        <td>@item.event.getCreationTime()</td>
      </tr>
      <tr>
        <td>Level</td>
        <td>@item.event.getLevel()</td>
      </tr>
      @if(item.event.getMarker() != null) {
      <tr>
        <td>Marker</td>
        <td>@item.event.getMarker()</td>
      </tr>
      }
      <tr>
        <td>Logger</td>
        <td>@item.event.getLogger()</td>
      </tr>
      <tr>
        <td>Thread</td>
        <td>@item.event.getThread()</td>
      </tr>
      <tr>
        <td>Message</td>
        <td>@item.event.getMessage()</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>@item.event.getCondition().getTypeName()</td>
      </tr>
      <tr>
        <td>Stack Trace</td>
        <td><pre>@item.event.getCondition().toStringValue()</pre></td>
      </tr>
      <tr>
        <td>Keywords</td>
        <td>
          @for(keyword <- item.getKeywords(100)) {
            <span class="label label-info">@keyword</span>
          }
          
          @if(item.event.getKeywords().size() >= 100) {
            <span class="label label-important">...</span>
          }
        </td>
      </tr>
      <tr>
        <td>Signature</td>
        <td>@item.event.getSignature()</td>
      </tr>
    </tbody>
  </table>
  
  @if(count >= 2) {
    <div class="alert alert-info">Please note there are approximately @count errors of this type. This is just one sample.</div>
  }
</div> <!-- /container -->
}
