@(items: org.ardverk.gibson.dashboard.EventItems)
@import views.html.trendrow
@main() {
<div class="container">
  <div class="alert alert-info">
    There are approximately @items.count errors of type @items.typeName in @items.elements.size() different categories.
  </div>
  
  <table class="table table-bordered">
    <thead>
      <th>#</th>
      <th>Delta</th>
      <th>Velocity (e/s)</th>
      <th>Level</th>
      <th>Logger</th>
      <th>Message</th>
      <th>Exception</th>
    </thead>
    <tbody>
      @for(element <- items.elements) {
          @trendrow(element.trend)
          <td>@element.count</td>
            <td>@element.trend.delta</td>
            <td>@("%.2f".format(element.trend.velocity))</td>
          @defining(routes.Event.show(items.typeName, element.event.getSignature())) { href =>
            <td><a href="@href">@element.event.getLevel()</a></td>
            <td><a href="@href">@element.event.getLogger()</a></td>
            <td><a href="@href">@element.event.getMessage()</a></td>
            <td><a href="@href">@element.exception</a></td>
          }
        </tr>
      }
    </tbody>
  </table>
</div> <!-- /container -->
}
