@(items: org.ardverk.gibson.dashboard.TypeItems)

@main("Gibson") {
<div class="container">          
  @if(items.isEmpty()) {
    <div class="alert alert-success"><h3 class="alert-heading">Awesome!</h3>Looks like there are no errors in the System.</div>
  } else {  
    
    <form class="well form-search">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
    <hr>
    <div class="alert alert-block">
      There are approximately <span class="label label-info">@items.count</span> errors in <span class="label label-info">@items.elements.size()</span> different categories in the System.
    </div>
    
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Type</th>
      </thead>
      <tbody>
        @for(element <- items.elements) {
          <tr>
            <td>@element.count</td>
            <td><a href="@routes.Main.events(element.typeName)">@element.typeName</a></td>
          </tr>
        }
      </tbody>
    </table>
  }
  
</div> <!-- /container -->
}
