@(items: org.ardverk.gibson.dashboard.TypeItems)
@main() {
<div class="container">          
  @if(items.isEmpty()) {
    <div class="alert alert-success"><h3 class="alert-heading">Awesome!</h3>Looks like there are no errors in the System.</div>
  } else {
    <div class="alert alert-info">
      There are approximately @items.count errors in @items.elements.size() different categories.
    </div>
    
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Type</th>
      </thead>
      <tbody>
        @for(element <- items.elements) {
          <tr>
            <td>@element.count</td>
            <td><a href="@routes.Events.show(element.typeName)">@element.typeName</a></td>
          </tr>
        }
      </tbody>
    </table>
  }
</div> <!-- /container -->
}
