@(items: org.ardverk.gibson.dashboard.TypeItems)
@import views.html.trendrow
@main() {
<div class="container">          
  @if(items.isEmpty()) {
    <div class="alert alert-success"><h3 class="alert-heading">Awesome!</h3>Looks like there are no errors in the System.</div>
  } else {
    <div class="alert alert-info">
      There are approximately @items.count errors in @items.elements.size() different categories.
    </div>
    
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Velocity (e/m)</th>
        <th>Acceleration (e/m/m)</th>
        <th>Type</th>
      </thead>
      <tbody>
        @for(element <- items.elements) {
          @trendrow(element.trend)
            <td>@element.count</td>
            <td>@("%.2f".format(element.trend.velocity))</td>
            <td>@("%.2f".format(element.trend.acceleration))</td>
            <td><a href="@routes.Events.show(element.typeName)">@element.typeName</a></td>
          </tr>
        }
      </tbody>
    </table>
  }
</div> <!-- /container -->
}
