@(exceptions: List[UniqueException])

@main("Welcome to Play 2.0") {
<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Hello, dawg!</h1>

    <ul>
      @for(e <- exceptions) {
      <li>@e.count @e.event.getThrowable().getClassName()</li>
      <ul>
        @for(element <- e.event.getThrowable().getStackTrace()) {
          @element<br>
        }
      </ul>

      }
    </ul>
</div> <!-- /container -->

<!-- Le javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="@routes.Assets.at(" js/bootstrap.js")"></script>
}
