@(summaries: List[ExceptionSummary])

@main("Gibson Dashboard") {
<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Gibson Dashboard!</h1>

    <ul>
      @for(s <- summaries) {
        <li><a href="@routes.Application.exceptions(s.className)">@s.count @s.className</a></li>
      }
    </ul>
  </div>
</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="@routes.Assets.at(" js/bootstrap.js")"></script>
}
