<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="GIBSON" class="org.ardverk.gibson.appender.MongoAppender">
    <!-- <uri>mongodb://localhost/Gibson</uri> -->
  </appender>
  
  <logger name="org.apache.http" level="ERROR"/>
  
  <root level="ALL">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="GIBSON" />
  </root>
</configuration>